body {
    height: 100;
    width: 96%;
    background-color: #DCDCDC;

}
header {
    background-color: #4169E1;
    height: 15%;
    width: 100;
}

.mainName {
    text-align: center;
    color: #0000FF;
    position: relative;
    text-align: center
}